.card-wrapper {
  padding-right: 10px;
  padding-left: 10px;
}
.stars-flexbox{
  display: flex;
  justify-content: center;
}
.stars {
  width:50%;
  display: flex;
}
.card-slider {
  width: 320px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #707070;
}
.description {
  font-size: 14px;
  color: #333;
  text-align: center;
}
